<body>

  <div class="container">
    <div class="card">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="#shipper" role="tab" data-toggle="tab">Shipper</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#carrier" role="tab" data-toggle="tab">Carrier</a>
        </li>
        </nav>
    </div>
    </ul>
  </div>

  <div class="container">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="shipper">
        <div class="card-header text-center mt-2">
          <h4> Add Shipment</h4>
        </div>

        <form>
          <div class="form-group row">
            <label for="shipperBegin" class="col-sm-2 col-form-label">Beginning Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="shipperBegin" placeholder="123 Main Street, Dallas, TX">
            </div>
          </div>

          <div class="form-group row mt-1">
            <label for="shipperEnd" class="col-sm-2 col-form-label">Ending Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="shipperEnd" placeholder="123 Main Street, Dallas, TX">
            </div>
          </div>

          <div class="form-group row mt-1">
            <label for="shipperPrice" class="col-sm-2 col-form-label">Compensation per Mile</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="shipperPrice" placeholder="$0.39" required>
            </div>
          </div>

          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Load Type</legend>
              <div class="col-sm-10">

                <div class="form-check form-check-inline ml-5">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="car" checked>
                  <label class="form-check-small" for="gridRadios1">
                    car
                  </label>
                </div>

                <div class="form-check form-check-inline ml-5">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="truck">
                  <label class="form-check-label" for="gridRadios2">
                    truck
                  </label>
                </div>

                <div class="form-check form-check-inline ml-5">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="motorcycle">
                  <label class="form-check-label" for="gridRadios3">
                    motorcycle
                  </label>
                </div>

                <div class="form-check form-check-inline ml-5">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="boat">
                  <label class="form-check-label" for="gridRadios4">
                    boat
                  </label>
                </div>

                <div class="form-check form-check-inline ml-5">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="camper">
                  <label class="form-check-label" for="gridRadios5">
                    camper
                  </label>
                </div>
                <div class="form-check form-check-inline ml-5">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="other">
                  <label class="form-check-label" for="gridRadios5">
                    other
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-group row mt-1">
            <label for="shipperDetail" class="col-sm-2 col-form-label">Details</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="shipperDetail"
                placeholder="Details about Load - special instructions">
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <button type="submit" id="shipperSubmit" class="btn btn-primary btn-block">Submit</button>
            </div>
          </div>
        </form>
      </div>

      {{!-- Carrier Info --}}

      <div role="tabpanel" class="tab-pane" id="carrier">
        <div class="card-header text-center mt-2">
          <h4>Search for Loads</h4>
        </div>
        <form>
          <div class="view-options mb-2 mt-3">
            <button type="button" id="viewShipments" class="btn btn-success btn-block">View All Loads</button>

            <hr>
            <h5 class="text-center">OR</h5>
            <hr>

            <div class="form-group row">
              <label for="carrierBegin" class="col-sm-2 col-form-label">Beginning Address</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="carrierBegin" placeholder="123 Main Street, Dallas, TX">
              </div>
            </div>

            <div class="form-group row">
              <label for="carrierBeginDistance" class="col-sm-2 col-form-label">Minimum Distance</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="carrierBeginDistance" placeholder="100">
              </div>
            </div>

            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Load Type</legend>
                <div class="col-sm-10">

                  <div class="form-check form-check-inline ml-5">
                    <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="car">
                    <label class="form-check-label" for="Radios1">
                      Car
                    </label>
                  </div>

                  <div class="form-check form-check-inline ml-5">
                    <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="truck">
                    <label class="form-check-label" for="Radios2">
                      Truck
                    </label>
                  </div>

                  <div class="form-check form-check-inline ml-5">
                    <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="motorcycle">
                    <label class="form-check-label" for="Radios3">
                      Motorcycle
                    </label>
                  </div>

                  <div class="form-check form-check-inline ml-5">
                    <input class="form-check-input" type="radio" name="Radios" id="Radios4" value="boat">
                    <label class="form-check-label" for="Radios4">
                      Boat
                      </h>
                  </div>

                  <div class="form-check form-check-inline ml-5">
                    <input class="form-check-input" type="radio" name="Radios" id="Radios5" value="camper">
                    <label class="form-check-label" for="Radios5">
                      Camper
                      </h>
                  </div>

                  <div class="form-check form-check-inline ml-5">
                    <input class="form-check-input" type="radio" name="Radios" id="Radios6" value="other">
                    <h class="form-check-label" for="Radios6">
                      Other
                    </h>
                  </div>

                </div>
              </div>
            </fieldset>

            {{!--   for future development --}}
            {{!-- <div class="form-group row mt-1">
            <label for="MinCarrierPrice" class="col-sm-2 col-form-label">Minimum Compensation per Mile</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="MinCarrierPrice" placeholder="$0.20">
            </div>
          </div> --}}

            <div class="form-group row">
              <div class="col">
                <button type="submit" id="carrierSubmit" class="btn btn-primary btn-block">Submit</button>
              </div>
            </div>
        </form>
        <hr>
        <div class="card">
          <div class="card-header text-center">
            <h4>
              Available Routes
            </h4>
          </div>

          <div id="results"></div>

        </div>
      </div>
    </div>
  </div>
  </div>
  <script>
    $('#shipper a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    });

    $('#carrier a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    });
  </script>
</body>