<body>

  <div class="container">
    <div class="card">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="#shipper" role="tab" data-toggle="tab">Shipper</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#carrier" role="tab" data-toggle="tab">Carrier</a>
        </li>
        </nav>
    </div>
    </ul>
  </div>

  <div class="container">
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="shipper">

        <div class="card-header text-center mt-2">Shipper</div>
        <form>
          <div class="form-group row">
            <label for="shipperBegin" class="col-sm-2 col-form-label">Beginning Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="shipperBegin" placeholder="123 Main Street, Dallas, TX">
            </div>
          </div>

          <div class="form-group row mt-1">
            <label for="shipperEnd" class="col-sm-2 col-form-label">Ending Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="shipperEnd" placeholder="123 Main Street, Dallas, TXs">
            </div>
          </div>
          <div class="form-group row mt-1">
            <label for="shipperPrice" class="col-sm-2 col-form-label">Compensation per Mile</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="shipperPrice" placeholder="$0.39">
            </div>
          </div>

          <fieldset class="form-group">

            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Load Type</legend>
              <div class="col-sm-10">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                  <label class="form-check-label" for="gridRadios1">
                    Car
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Truck
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                  <label class="form-check-label" for="gridRadios3">
                    Motorcycle/ATV
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                  <label class="form-check-label" for="gridRadios4">
                    Boat
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                  <label class="form-check-label" for="gridRadios5">
                    Camper
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                  <label class="form-check-label" for="gridRadios5">
                    Other
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-group row mt-1">
            <label for="shipperDetail" class="col-sm-2 col-form-label">Details</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="shipperDetail"
                placeholder="Details about Load - special instructions">
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <button type="submit" id="shipperSubmit" class="btn btn-primary btn-block">Submit</button>
            </div>
          </div>
        </form>

        <div class="card">
          <div class="card-header">Map Goes Here</div>
        </div>

      </div>

      {{!-- Carrier Info --}}

      <div role="tabpanel" class="tab-pane" id="carrier">
        <div class="card-header text-center mt-2">Carrier</div>

        <form>
          <div class="form-group row">
            <label for="carrierBegin" class="col-sm-2 col-form-label">Beginning Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="carrierBegin" placeholder="123 Main Street, Dallas, TX">
            </div>
          </div>

          <div class="form-group row">
            <label for="carrierBeginDistance" class="col-sm-2 col-form-label">Maximum Distance</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="carrierBeginDistance" placeholder="100">
            </div>
          </div>

          <div class="form-group row mt-1">
            <label for="carrierEnd" class="col-sm-2 col-form-label">Ending Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="carrierEnd" placeholder="123 Main Street, Dallas, TX">
            </div>
          </div>

          <div class="form-group row">
            <label for="carrierEndDistance" class="col-sm-2 col-form-label">Maximum Distance</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="carrierEndDistance" placeholder="100">
            </div>
          </div>


          <div class="form-group row mt-1">
            <label for="MinCarrierPrice" class="col-sm-2 col-form-label">Minimum Compensation per Mile</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="MinCarrierPrice" placeholder="$0.20">
            </div>
          </div>

          <fieldset class="form-group">

            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Load Type</legend>
              <div class="col-sm-10">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                  <label class="form-check-label" for="gridRadios1">
                    Car
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Truck
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                  <label class="form-check-label" for="gridRadios3">
                    Motorcycle/ATV
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                  <label class="form-check-label" for="gridRadios4">
                    Boat
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                  <label class="form-check-label" for="gridRadios5">
                    Camper
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="option6">
                  <label class="form-check-label" for="gridRadios6">
                    Other
                  </label>
                </div>

              </div>
            </div>
          </fieldset>

          <div class="form-group row">
            <div class="col">
              <button type="submit" id="carrierSubmit" class="btn btn-primary btn-block">Submit</button>
            </div>
          </div>
        </form>
        <div class="card">
          <div class="card-header">Map Goes Here</div>
        </div>
      </div>



      {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}

      <script>
        $('#shipper a').on('click', function (e) {
          e.preventDefault()
          $(this).tab('show')
        });

        $('#carrier a').on('click', function (e) {
          e.preventDefault()
          $(this).tab('show')
        });


      </script>
</body>