.list-group-item {
  line-height: 2.5;
}

/* This makes the radios input box look similar to the other input boxes */
.radios {
  width: 100%;
  border: 1px solid #ced4da;
  line-height: 23px;
  border-width: 1.5px;
  border-radius: 2%;
  text-align: center;
}

section {
  min-height: 90vh;
}

/* sticky footer */
footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}